.taskManager {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.addTaskForm{
    display: grid;
    grid-template-columns: 35rem 1fr;
    width: 100%;
    gap: 0.5rem;
    
}

.addTaskForm textarea{
    width: 100%;
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    resize: none;
    height: 3.375rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.4;
    overflow: hidden;
}

.addTaskForm button{
    /*width: 11rem;*/
    background: var(--blue-dark);
    border: 0;
    border-radius: 8px;
    color: var(--gray-100);
    gap: 1rem;
    font-weight: bold;
    font-size: 0.875rem;
    padding: 1rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.addTaskForm button:hover{
    background: var(--blue);
}

.tasksInfo{
    display: flex;
    width: 100%;
    margin-top: 4rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.tasksCompleted{
    color: var(--purple);
    font-size: 0.875rem;
}

.tasksCreated{
    color: var(--blue);
    font-size: 0.875rem;
}


.taskCounter{
    background: var(--gray-400);
    color: var(--gray-200);
    padding: 0.12rem 0.5rem;
    border-radius: 99px;

}

.taskList{
    width: 100%;
    border-top: 1px solid var(--gray-400);
}

.emptyList{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    color: var(--gray-300);
}

.emptyList strong{
    margin-top: 1rem;
}


@media (max-width: 768px) {
    html{
        font-size: 87.5%;
    }

    .addTaskForm{
        grid-template-columns: 1fr;
    }
    
}
